:root {
  --page-width: 1000px;
  --page-font-min-size: 4px;
  --page-font-max-size: 16px;
  --page-font-size: var(--page-font-max-size);
  --theme-component-color: #03a9f4;
  --theme-component-hover: #67daff;
  --theme-component-active: #007ac1;
  --theme-component-disabled: #607d8b;
  --theme-component-text-disabled: #8eacbb;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
}

@media (hover: hover) {
  a:hover {
    color: var(--theme-component-hover);
    cursor: pointer;
    transition-property: color, cursor;
    transition-duration: 0.5s;
  }
}

a:active {
  color: var(--theme-component-active);
  /* transition-property: color, cursor;
  transition-duration: 0.5s; */
}

a[disabled] {
  color: var(--theme-component-disabled);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background: black;
    color: white;
  }
}